@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html {
  scroll-behavior: smooth;
}

/* 
prevent flickering when selecting dark mode after page load: do not show anything before theme is selected 
but only if js is enabled 
*/
html:not(.no-js):not([data-theme]) body {
  display: none;
}

/* class for elements to show only with js enabled */
html.no-js .js-only {
  display: none;
}

/* fix scrolling by anchor, take account for fixed header */
:target::before {
  content: "";
  display: block;
  height: --spacing(12); /* fixed header height*/
  margin: --spacing(-12) 0 0; /* negative fixed header height */
}

/* 
table of contents: 
  hidden by default
  shown when there is class toc-open
  shown when screen is wider than breakpoint-lg == 64rem, same as "lg:" class
*/
#toc {
  display: none;
}
#toc.toc-open {
  display: block;
}
@media (width >= 64rem) {
  #toc {
    display: block !important;
  }
}
