---
import BlogLayout from "../layouts/BlogLayout.astro";
import { getPosts } from "../lib/blog";
const posts = await getPosts();
---

<BlogLayout title="My Blog">
  <h2>Latest Posts</h2>
  <ul>
    {posts.map((post) => (
      <li>
        <a href={`/blog/${post.slug}/`}>
          {post.data.title} {post.data.draft ? "(draft)" : ""}
        </a>
        <span>
          — {post.data.pubDate.toISOString().slice(0, 10)}
        </span>
      </li>
    ))}
  </ul>
</BlogLayout>