---
import MainLayout from "../layouts/MainLayout.astro";
import { getPosts } from "../lib/blog";
const posts = await getPosts();
---

<MainLayout title="Home" disableToc="true">
  <h3>Latest Posts</h3>
  <div class="flex flex-col gap-4">
    {
      posts.map((post) => (
        <div class="p-4 border-b last:border-none">
          <div class="text-xs">
            {post.formattedDate}
            {post.data.draft && <b>draft</b>}
          </div>
          <div class="text-xl pt-1 pb-3">
            <a
              href={`/blog/${post.slug}/`}
              class="no-underline hover:text-blue-700 dark:text-white dark:hover:text-blue-500"
            >
              {post.data.title}
            </a>
          </div>
          {post.data.description ? (
            <div class="text-sm">{post.data.description}</div>
          ) : (
            ""
          )}
        </div>
      ))
    }
  </div>
</MainLayout>
