---
import type { MarkdownHeading } from "astro";

type Heading = MarkdownHeading & {
  children?: Heading[];
};

const { headings } = Astro.props as { headings: Heading[] };
---

<ul>
  {
    headings?.map((heading) => (
      <li>
        <a href={`#${heading.slug}`}>{heading.text}</a>
        {heading.children && heading.children.length > 0 ? (
          <Astro.self headings={heading.children} />
        ) : null}
      </li>
    ))
  }
</ul>
