---
const { title } = Astro.props;
---

<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <script is:inline>
      document.documentElement.classList.remove("no-js");
    </script>
    <script src="../lib/theme.ts"></script>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <span></span>
      <div class="theme-switcher js-only">
        <button id="theme-light" class="theme-btn">Light</button>
        <button id="theme-dark" class="theme-btn">Dark</button>
        <button id="theme-auto" class="theme-btn">Auto</button>
      </div>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
