---
import { Icon } from "astro-icon/components";
import "../styles/global.css";
const { title, disableToc } = Astro.props;
---

<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <script is:inline>
      document.documentElement.classList.remove("no-js");
    </script>
    <script src="../lib/theme.ts"></script>
    <script>
      // toggle Table of Contents on button click
      document.getElementById("toc-btn")?.addEventListener("click", () => {
        document.getElementById("toc")?.classList.toggle("toc-open");
      });
      // hide Table of Contents on click on the link inside it
      document.querySelectorAll("#toc a").forEach((link) => {
        console.log(link);
        link.addEventListener("click", () =>
          document.getElementById("toc")?.classList.remove("toc-open")
        );
      });
    </script>
  </head>
  <body
    class="flex flex-col bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-300 w-screen min-h-screen"
  >
    <nav
      class="top-0 fixed h-12 z-50 w-full bg-white dark:bg-gray-800 border=1 flex items-center shadow-sm"
    >
      <div class="w-full lg:w-240 mx-auto p-4 flex items-center">
        <img
          src="/favicon-96x96.png"
          alt="avatar"
          class="h-8 rounded-full border-1 border-gray-600 dark:border-gray-400"
        />
        <ul class="font-medium flex p-0 flex-row border-0">
          <li>
            <a
              href="/"
              class="block py-2 px-3 hover:text-blue-700 p-0 dark:text-white dark:hover:text-blue-500"
              >Home</a
            >
          </li>
          <li>
            <a
              href="/about"
              class="block py-2 px-3 hover:text-blue-700 p-0 dark:text-white dark:hover:text-blue-500"
              >About</a
            >
          </li>
        </ul>
        <span class="flex-1"></span>

        <div class="inline-flex gap-2">
          <div id="theme-btn-group" class="js-only inline-flex" role="group">
            <div class="inline-flex">
              <input
                type="radio"
                id="theme-light"
                type="button"
                class="hidden peer"
              />
              <label
                for="theme-light"
                class="inline-flex items-center
                px-1 py-0.5 text-sm font-medium text-gray-900
                border border-gray-900 rounded-s-lg
                hover:bg-gray-900 hover:text-white peer-checked:bg-gray-300
                dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700
                 dark:peer-checked:bg-gray-700"
              >
                <Icon name="mdi:lightbulb-on-outline" size="1.4em" />
                <span class="sr-only">Light</span></label
              >
            </div>

            <div class="inline-flex">
              <input
                type="radio"
                id="theme-dark"
                type="button"
                class="hidden peer"
              />
              <label
                for="theme-dark"
                class="inline-flex items-center
                px-1 py-0.5 text-sm font-medium text-gray-900
                border-t border-b border-gray-900
                hover:bg-gray-900 hover:text-white peer-checked:bg-gray-300
                dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700
                 dark:peer-checked:bg-gray-700"
              >
                <Icon name="mdi:lightbulb-on" size="1.4em" />
                <span class="sr-only">Dark</span>
              </label>
            </div>

            <div class="inline-flex">
              <input
                type="radio"
                id="theme-auto"
                type="button"
                class="hidden peer"
              />
              <label
                for="theme-auto"
                class="inline-flex items-center
                px-1 py-0.5 text-sm font-medium text-gray-900
                border border-gray-900 rounded-e-lg
                hover:bg-gray-900 hover:text-white peer-checked:bg-gray-300
                dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700
                 dark:peer-checked:bg-gray-700"
              >
                <Icon name="mdi:lightbulb-auto-outline" size="1.4em" />
                <span class="sr-only">Auto</span>
              </label>
            </div>
          </div>
          {
            !disableToc && (
              <button
                type="button"
                id="toc-btn"
                class="js-only lg:hidden
                px-1 py-0.5 text-sm font-medium text-gray-900
                border border-gray-900 rounded-lg
                hover:bg-gray-900 hover:text-white
                dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700"
              >
                <Icon name="mdi:table-of-contents" size="1.4em" />
                <span class="sr-only">Table of Contents</span>
              </button>
            )
          }
        </div>
      </div>
    </nav>
    <div class="w-full lg:w-240 mx-auto flex flex-1">
      <main class="p-4 mt-12 mb-24 min-w-0 flex-1 prose dark:prose-invert">
        <slot />
      </main>
      {
        !disableToc && (
          <aside
            id="toc"
            class="m-2 mt-14 w-64 right-0 z-100 fixed lg:relative lg:right-auto self-start"
          >
            <div
              class="rounded-b-lg mr-10 w-64 fixed overflow-y-scroll block p-6 bg-white border border-gray-200 rounded-lg shadow-sm  
                    dark:bg-gray-800 dark:hover:bg-gray-700"
            >
              <slot name="toc" />
            </div>
          </aside>
        )
      }
    </div>
    <footer class="bottom-0 w-full bg-white shadow-sm dark:bg-gray-800">
      <ul
        class="flex flex-wrap w-full lg:w-240 mx-auto px-4 py-1 items-center justify-end text-sm font-medium text-transparent hover:text-gray-500 dark:hover:text-gray-400"
      >
        <li>A footer?</li>
      </ul>
    </footer>
  </body>
</html>
